/* Fill iOS Safari safe area excess space with theme color */

html{
    background-color: linear-gradient(135deg, #1f1e1e, #333);
}

body::before,
body::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    background: #333;
    z-index: -1;
    pointer-events: none;
}
body::before {
    top: 0;
    height: env(safe-area-inset-top);
}
body::after {
    bottom: 0;
    height: env(safe-area-inset-bottom);
}
